@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.hide-scroll {
  overflow: auto; /* or overflow: scroll; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
